/* Tag Resets */
body,
div,
form,
img,
ul,
ul li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
hr
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1.0em;
	text-align: left;
	vertical-align: top;
}

/* Tag Defaults */
html
{
	overflow-y: scroll;
}

div,
img
{
	display: block;
	overflow: hidden;
}

p,
ul,
ol
{
	margin-bottom: 15px;
}

/* Links */
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus
{
	outline: 0;
}

/* Box Logo */
div.boxLogo,
div.boxLogo div
{
	position: relative;
	z-index: 900;
	overflow: visible;
}

#homelink a
{
	display: block;
	overflow: hidden;
	text-indent: -10000px;
}

/* Top Utility Nav */
div.boxTopUtilityNav
{
	position: relative;
}

/* Primary Nav */
div.boxPrimaryNav ul
{
	list-style: none;
}

div.boxPrimaryNav ul li,
div.boxPrimaryNav ul li a
{
	display: block;
	float: left;
}

div.boxPrimaryNav ul ul
{
	position: absolute;
	z-index: 900;
	visibility: hidden;
}
div.boxPrimaryNav ul.level-0 li:hover ul.level-1,
div.boxPrimaryNav ul.level-1 li:hover ul.level-2
{
	visibility: visible;
}

/* Image Rotator */
div.boxImageRotator,
div.c8m_tabContainer,
div.c8m_tab,
div.c8m_tab_current	
{
	position: relative;
	width: 940px;
}

div.boxImageRotator
{
	padding-bottom: 20px;
}

div.c8m_tab,
div.c8m_tab_current
{
	position: absolute;
	z-index: 100;
	display: none;
}
div.c8m_tab img,
div.c8m_tab_current img
{
	position: absolute;
	z-index: 150;
}
div.c8m_tab div.textbox,
div.c8m_tab_current div.textbox
{
	position: absolute;
	z-index: 300;
}

ul.c8m_tabs
{
	position: absolute;
	z-index: 400;
	list-style: none;
}

ul.c8m_tabs li,
ul.c8m_tabs li a
{
	display: block;
	float: left;
}

/* Default */
div.boxDefault
{
	padding-bottom: 20px;
}
div.boxDefault div.top,
div.boxDefault div.bottom
{
	background: none no-repeat;
}
div.boxDefault div.top span,
div.boxDefault div.top h2,
div.boxDefault div.bottom span
{
	display: block;
	background: none no-repeat right top;
}
div.boxDefault div.center-content
{
	padding: 0 14px;
	border: 1px solid #000;
	border-top: 0;
	border-bottom: 0;
	background: none;
	font-size: 0.8em;
}

div.boxMainContent div.center-content,
div.boxContent div.center-content,
div.boxContactForm div.center-content,
div.boxSitemapIndex div.center-content
{
	padding-top: 10px;
}

/* Sitemap Index */
div.boxSitemapIndex ul
{
	margin: 0 0 15px 25px;
}

/* Full List Index */
div.contentListItem,
div.articleListItem
{
	padding: 15px 0;
}

div.contentListItem div.imgBox,
div.articleListItem div.imgBox
{
	padding-right: 10px;
	float: left;
}
div.contentListItem div.imgBox img,
div.articleListItem div.imgBox img
{
	float: left;
}

/* Left Sub Navigation */
div.boxLeftSubNavigation ul
{
	margin: 0;
}

/* Photo Box */
div.c8m_photo_box #c8m_arrow_left,
div.c8m_photo_box #c8m_arrow_right
{
	float: left;
	cursor: pointer;
}
div.c8m_photo_box #c8m_arrow_right
{
	float: right;
}

div.c8m_photo_box #c8m_arrow_left br,
div.c8m_photo_box #c8m_arrow_right br
{
	display: none;
}

div.c8m_photo_box #c8m_theImages
{
	position: relative;
	padding-bottom: 10px;
}

div.c8m_photo_box_colummn
{
	position: absolute;
	z-index: 100;
	display: none;
}

/* Utilities */
.small
{
	font-size: 0.85em;
	line-height: 0.85em;
}
.large
{
	font-size: 1.15em;
	line-height: 1.15em;
}

.left
{
	float: left;
}
.center
{
	text-align: center;
}
.right
{
	float: right;
}

p.right
{
	float: none;
	text-align: right;
}

/* Previouisly Inline */
a.stbar.chicklet img
{
	margin-right: 3px;
	border: 0;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
a.stbar.chicklet
{
	height: 16px;
	line-height: 16px;
}

.submission
{
	display: none;
}

.errorMsgshow
{
    visibility: visible;
}
.errorMsghide
{
    visibility: hidden;
}

