/* Tag Resets */ 
body,
div,
form,
img,
ul,
ul li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
hr
{
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
}

/*Tag Defaults */
html,
body
{
	background: #30373D;
}

body
{
	font-size: 0.75em;
}

.container_12
{
	padding: 0;
}

h2,
p,
ul,
ol
{
	line-height: 1.3em;
}

p img
{
	display: inline;
}

h3
{
	margin-bottom: 15px;
}

form input,
form textarea
{
	padding: 1px;
	border: 1px solid #c3c3c3;
	border-top-color: #7c7c7c;
	border-bottom-color: #ddd;
	width: 300px;
	height: 16px;
	background: #fff url(../images/backgrounds/text-box.gif) repeat-x;
	color: #000;
	line-height: 16px;
}
form textarea
{
	width: 550px;
	height: 300px;
}

#keywords
{
	width: 175px;
}

#search
{
	padding: 1px 4px;
	border: 1px solid #5E6F7D;
	width: 55px;
	height: 20px;
	background: #5E6F7D;
	color: #fff;
	font-weight: bold;
}

#submit
{
	padding: 5px;
	border: 0;
	width: auto;
	height: auto;
	background: #2a5f11;
	color: #fff;
	line-height: normal;
	font-weight: bold;
}

/* Links */
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus
{
	color: #e33000;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

a.bktotop
{
	font-size: 0.85em;
	text-transform: uppercase;
}

/* Outer Wrapper */
div.outerWrapper
{
	margin: 0 auto;
	padding: 10px 10px 0 10px;
	width: 940px;
}
div.outerWrapper div.center-content
{
	background: #fff;
}
div.outerWrapper.homepage div.center-content
{
	background: #7e8d99;
}

div.outerWrapper div.top
{
	height: 5px;
	background: #fff url(http://media.completegenomics.com/designimages/bg_outerWrapper_tl_10.jpg) no-repeat;
}
div.outerWrapper.homepage div.top
{
	background-image: url(http://media.completegenomics.com/designimages/bg_outerWrapper_homepage_tl_10.jpg);
}

div.outerWrapper div.top h2,
div.outerWrapper div.top span
{
	display: block;
	height: 5px;
	background: url(http://media.completegenomics.com/designimages/bg_outerWrapper_tr_10.jpg) no-repeat right top;
}
div.outerWrapper.homepage div.top h2,
div.outerWrapper.homepage div.top span
{
	background-image: url(http://media.completegenomics.com/designimages/bg_outerWrapper_homepage_tr_10.jpg);
}

div.outerWrapper div.bottom
{
	height: 5px;
	background: #7e8d99 url(http://media.completegenomics.com/designimages/bg_outerWrapper_bl_10.jpg) no-repeat left bottom;
}
div.outerWrapper.homepage div.bottom
{
	background-image: url(http://media.completegenomics.com/designimages/bg_outerWrapper_homepage_bl_10.jpg);
}

div.outerWrapper div.bottom span
{
	display: block;
	height: 5px;
	background: url(http://media.completegenomics.com/designimages/bg_outerWrapper_br_10.jpg) no-repeat right bottom;
}
div.outerWrapper.homepage div.bottom span
{
	background-image: url(http://media.completegenomics.com/designimages/bg_outerWrapper_homepage_br_10.jpg);
}

/* Box Logo */
div.boxLogo
{
	padding-left: 10px;
	height: 154px;
	width: 930px;
	background: #fff;
}
div.boxLogo div.grid_4
{
	width: 290px;
}
div.boxLogo div.grid_12
{
	width: 930px;
}

div.outerWrapper div.boxLogo div.center-content
{
	height: 154px;
	background: #fff;
}
div.outerWrapper div.boxLogo div.center-content div.center-content,
div.outerWrapper div.boxLogo div.top,
div.outerWrapper.homepage div.boxLogo div.top,
div.outerWrapper div.boxLogo div.top h2,
div.outerWrapper.homepage div.boxLogo div.top h2,
div.outerWrapper div.boxLogo div.top span,
div.outerWrapper.homepage div.boxLogo div.top span,
div.outerWrapper div.boxLogo div.bottom,
div.outerWrapper.homepage div.boxLogo div.bottom,
div.outerWrapper div.boxLogo div.bottom span,
div.outerWrapper.homepage div.boxLogo div.bottom span
{
	height: auto;
}

div.outerWrapper div.boxLogo div.grid_8
{
	height: 97px;
}

#homelink
{
	padding: 19px 0 0 10px;
	height: 78px;
}
#homelink a
{
	height: 78px;
}

/* Top Utility Nav */
div.boxLogo div.boxTopUtilityNav
{
	padding: 10px 20px 10px 10px;
}

div.boxUtilityNav
{
	padding-bottom: 15px;
}
div.boxUtilityNav a
{
	color: #7E8D99;
}

/* Primary Nav */
div.boxLogo div.boxPrimaryNav
{
	padding-top: 5px;
}
div.boxLogo div.boxPrimaryNav,
div.boxPrimaryNav ul
{
	position: relative;
	margin: 0;
	height: 30px;
}
div.boxPrimaryNav ul li,
div.boxPrimaryNav ul li a
{
	position: relative;
	height: 30px;
	line-height: 30px;
}

div.boxPrimaryNav ul li a
{
	display: block;
	width: 131px;
	background: #5e6f7d url(http://media.completegenomics.com/designimages/bg_menuLevel0_left.jpg) no-repeat left top;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
div.boxPrimaryNav ul li:hover a,
div.boxPrimaryNav ul li.current a
{
	background: #e33000;
	text-decoration: none;
}

div.boxPrimaryNav ul.level-0 li:hover ul
{
	visibility: visible;
}

div.boxPrimaryNav ul.level-1
{
	top: 30px;
	left: 0;
	padding: 7px 0;
	border: 1px solid #30373d;
	border-top: 0;
	height: auto;
	min-width: 129px;
	background: #fff;
}
div.boxPrimaryNav ul.level-2
{
	position: relative;
	height: auto;
}

div.boxPrimaryNav ul.level-1 li,
div.boxPrimaryNav ul.level-1 li a
{
	float: none;
	height: auto;
	width: auto;
	line-height: normal;
	text-align: left;
	white-space: nowrap;
}
div.boxPrimaryNav ul.level-1 li a,
div.boxPrimaryNav ul li:hover ul.level-1 li a,
div.boxPrimaryNav li.current ul.level-1 li a
{
	padding: 5px 15px 5px 27px;
	background: #fff url(http://media.completegenomics.com/designimages/bg_raquo_blue.png) no-repeat 10px 8px;
	color: #369;
}
div.boxPrimaryNav ul.level-1 li.current a,
div.boxPrimaryNav ul li:hover ul.level-1 li.current a,
div.boxPrimaryNav ul li.current ul.level-1 li.current a
{
	color: #e33000;
}
div.boxPrimaryNav ul.level-1 li a:hover,
div.boxPrimaryNav ul li:hover ul.level-1 li a:hover,
div.boxPrimaryNav ul li.current ul.level-1 li a:hover
{
	background-color: #fff;
	text-decoration: underline;
}

div.boxPrimaryNav ul.level-0 ul.level-2 li a,
div.boxPrimaryNav ul.level-0 li:hover ul.level-1 ul.level-2 li a,
div.boxPrimaryNav ul.level-0 li.current ul.level-1 ul.level-2 li a,
div.boxPrimaryNav ul.level-2 li a,
div.boxPrimaryNav ul.level-1 li:hover ul.level-2 li a,
div.boxPrimaryNav ul.level-1 li.current ul.level-2 li a
{
	padding-left: 30px;
	background: #fff;
	color: #369;
	font-weight: normal;
}
div.boxPrimaryNav ul.level-0 ul.level-1 ul.level-2 li.current a,
div.boxPrimaryNav ul.level-0 li:hover ul.level-1 ul.level-2 li.current a,
div.boxPrimaryNav ul.level-0 li.current ul.level-1 ul.level-2 li.current a,
div.boxPrimaryNav ul.level-1 ul.level-2 li.current a,
div.boxPrimaryNav ul.level-1 li:hover ul.level-2 li.current a,
div.boxPrimaryNav ul.level-1 li.current ul.level-2 li.current a
{
	color: #e33000;
}

/* Content Wrapper */
div.boxContentWrapper div.top,
div.boxContentWrapper div.top h2,
div.boxContentWrapper div.top span,
div.boxContentWrapper div.bottom,
div.boxContentWrapper div.bottom span
{
	height: auto;
	background: none;
}

/* Default */
div.outerWrapper div.boxDefault
{
	margin-bottom: 20px;
	padding-bottom: 0;
	background: url(http://media.completegenomics.com/designimages/bg_boxContent_l_10.jpg) repeat-y;
}
div.outerWrapper.homepage div.boxDefault
{
	background: none;
}

div.outerWrapper div.boxDefault div.top
{
	height: 10px;
	background: url(http://media.completegenomics.com/designimages/bg_boxContent_tl_10.jpg) no-repeat;
}
div.outerWrapper.homepage div.boxDefault div.top
{
	height: 10px;
	background-image: url(http://media.completegenomics.com/designimages/bg_boxContent_tl.jpg);
}

div.outerWrapper div.boxDefault div.top h2,
div.outerWrapper div.boxDefault div.top span
{
	height: 10px;
	background: url(http://media.completegenomics.com/designimages/bg_boxContent_tr_10.jpg) no-repeat right top;
}
div.outerWrapper.homepage div.boxDefault div.top h2,
div.outerWrapper.homepage div.boxDefault div.top span
{
	height: 10px;
	background-image: url(http://media.completegenomics.com/designimages/bg_boxContent_tr.jpg);
}

div.outerWrapper div.boxDefault.hasHeader div.top,
div.outerWrapper div.boxDefault.hasHeader div.top h2,
div.outerWrapper.homepage div.boxDefault.hasHeader div.top,
div.outerWrapper.homepage div.boxDefault.hasHeader div.top h2
{
	height: auto;
}
div.outerWrapper div.boxDefault.hasHeader div.top h2,
div.outerWrapper.homepage div.boxDefault.hasHeader div.top h2
{
	padding: 20px 20px 0 20px;
}

div.outerWrapper div.boxDefault div.bottom
{
	height: 20px;
	background: #fff url(http://media.completegenomics.com/designimages/bg_boxContent_bl_10.jpg) no-repeat left bottom;
}
div.outerWrapper.homepage div.boxDefault div.bottom
{
	height: 20px;
	background-image: url(http://media.completegenomics.com/designimages/bg_boxContent_bl.jpg);
}

div.outerWrapper div.boxDefault div.bottom span
{
	height: 20px;
	background: url(http://media.completegenomics.com/designimages/bg_boxContent_br_10.jpg) no-repeat right bottom;
}
div.outerWrapper.homepage div.boxDefault div.bottom span
{
	height: 20px;
	background-image: url(http://media.completegenomics.com/designimages/bg_boxContent_br.jpg);
}

div.outerWrapper div.boxDefault div.center-content,
div.outerWrapper.homepage div.boxDefault div.center-content
{
	padding: 10px 20px 0 20px;
	border: 0;
	background: url(http://media.completegenomics.com/designimages/bg_boxContent_r_10.jpg) repeat-y right;
	font-size: 1.0em;
}
div.outerWrapper.homepage div.boxDefault div.center-content
{
	background: #fff;
}

div.alpha div.alpha div.boxDefault,
div.grid_9.alpha div.boxDefault
{
	margin-left: 10px;
}
div.omega div.omega div.boxDefault,
#columnRight div.boxDefault
{
	margin-right: 10px;
}

div.outerWrapper div.boxDefault h1
{
	margin-bottom: 13px;
	color: #369;
	font-size: 20px;
}
div.outerWrapper div.boxDefault h1 a
{
	color: #369;
	font-size: 18px;
}

div.outerWrapper div.boxDefault h2
{
	color: #369;
    font-size: 18px;
    margin: 0;
}
div.outerWrapper div.boxDefault h2 a
{
	color: #369;
}
div.outerWrapper div.boxDefault h3
{
	margin: 0 0 3px 0;
	font-size: 16px;
    color: #369;
}
div.outerWrapper div.boxDefault h3 a
{
	color: #369;
}
div.outerWrapper div.boxDefault h3 a img
{
	padding-bottom: 15px;
}

div.outerWrapper div.boxDefault h4
{
	margin-bottom: 3px;
	font-size: 14px;
    color: #369;
}
div.outerWrapper div.boxDefault h4 a
{
	color: #666;
}

div.outerWrapper div.boxDefault h5
{
	margin-bottom: 7px;
	font-size: 12px;
    color: #369;
}
div.outerWrapper div.boxDefault h5 a
{
	color: #666;
}

div.outerWrapper div.boxDefault h6
{
	font-size: 11px;
    color: #369;
}

div.contentPressDate
{
	padding: 7px 0 15px 0;
}

div.outerWrapper div.pressrelease h1
{
	margin-bottom: 7px;
	font-size: 1.6em;
	text-align: center;
}

div.outerWrapper div.pressrelease h2
{
	margin-bottom: 7px;
	color: #666;
	font-size: 1.0em;
	font-weight: normal;
	font-style: italic;
	text-align: center;
}
div.outerWrapper.homepage div.boxDefault h2
{
    margin-bottom: 10px;
}
div#columnRight .top h2 {
    font-size: 14px;
}

div.outerWrapper.homepage div.boxDefault ul
{
	margin: 0;
    padding: 0;
    list-style-type: none;
}
div.outerWrapper.homepage div.boxDefault ul li
{
	margin-bottom: 10px;	
}
/* 5412
div.outerWrapper.homepage div.boxDefault ul li:hover
{
	background-image: url(http://media.completegenomics.com/designimages/btn_utilitynav_down_01.jpg);
}
*/
div.ui-tabs div.boxDefault
{
	margin: 0;
	padding: 15px 5px;
	background: none;
}

/* Image Rotator */
div.outerWrapper.homepage div.boxImageRotator div.top,
div.outerWrapper.homepage div.boxImageRotator div.top h2,
div.outerWrapper.homepage div.boxImageRotator div.top span,
div.outerWrapper.homepage div.boxImageRotator div.bottom,
div.outerWrapper.homepage div.boxImageRotator div.bottom span
{
	height: auto;
	background: none;
}

div.outerWrapper.homepage div.boxImageRotator,
div.omega div.omega div.boxImageRotator,
div.alpha div.alpha div.boxImageRotator
{
	margin: 0 0 20px 0;
	padding: 0;
}
div.outerWrapper.homepage div.boxImageRotator div.center-content
{
	padding: 0 0 275px 10px;
}
div.outerWrapper.homepage div.boxImageRotator a
{
	display: block;
}
div.outerWrapper.homepage div.boxImageRotator div.textbox
{
	padding: 30px 0 0 30px;
}
div.outerWrapper.homepage div.boxImageRotator div.textbox img
{
	position: relative;
}

div.c8m_tabContainer,
div.c8m_tab_current,
div.c8m_tab
{
	height: 265px;
}
div.c8m_tabContainer
{
	position: absolute;
	bottom: 20px;
	left: 10px;
}

div.outerWrapper.homepage div.boxImageRotator ul
{
	position: absolute;
	bottom: 0;
	left: 7px;
}
div.outerWrapper.homepage div.boxImageRotator ul li,
div.outerWrapper.homepage div.boxImageRotator ul li:hover
{
	padding: 0 0 0 3px;
	height: auto;
	background: none;
}

div.outerWrapper.homepage div.boxImageRotator ul li a
{
	padding: 7px 7px 3px 7px;
	background: #dde0e5;
	text-align: center;
	color: #5e707e;
	font-size: 0.9em;
	font-weight: bold;
}
div.outerWrapper.homepage div.boxImageRotator ul li a:hover,
div.outerWrapper.homepage div.boxImageRotator ul li.current a
{
	background: #c2c4c9;
	color: #000;
	text-decoration: none;
}

div.outerWrapper.homepage div.boxImageRotator ul li a img
{
	display: inline;
}

div.outerWrapper.homepage div.boxImageRotator div.textbox
{
	width: 450px;
}
div.outerWrapper.homepage div.boxImageRotator h1
{
	margin-bottom: 5px;
	color: #000;
	font-size: 2.0em;
	text-transform: uppercase;
}
div.outerWrapper.homepage div.boxImageRotator h2
{
	margin-bottom: 10px;
	color: #5e707e;
	font-size: 1.15em;
}

/* Header Image */
div.outerWrapper div.boxHeaderImage div.top,
div.outerWrapper div.boxHeaderImage div.top h2,
div.outerWrapper div.boxHeaderImage div.top span,
div.outerWrapper div.boxHeaderImage div.bottom,
div.outerWrapper div.boxHeaderImage div.bottom span,
div.outerWrapper.homepage div.boxHeaderImage div.top,
div.outerWrapper.homepage div.boxHeaderImage div.top h2,
div.outerWrapper.homepage div.boxHeaderImage div.top span,
div.outerWrapper.homepage div.boxHeaderImage div.bottom,
div.outerWrapper.homepage div.boxHeaderImage div.bottom span
{
	height: auto;
	background: none;
}

div.outerWrapper div.boxHeaderImage
{
	margin-bottom: 20px;
}

div.outerWrapper div.boxHeaderImage div.center-content,
div.outerWrapper.homepage div.boxHeaderImage div.center-content
{
	padding: 0 10px 20px 10px;
}
div.outerWrapper.homepage div.boxHeaderImage div.center-content
{
	height: 265px;
	background: #fff;
}

/* Breadcrumb */
div.breadCrumb
{
	padding: 0 13px 5px 13px;
}

/* Miscellaneous */
div.boxJumpLinkIndex div.center-content ul,
div.boxMainContent div.center-content ul,
div.boxMainFullListIndex div.center-content ul,
div.boxSitemapIndex div.center-content ul,
div.ui-tabs div.boxDefault ul
{
	padding-left: 25px;
}

div.contentListItemSeparator
{
	padding-top: 14px;
	border-top: 1px solid #ccc;
}

/* Tabbed Content */
div.tabContent
{
	display: none;
}

/* Sitemap */
div.boxSitemapIndex div.center-content ul ul
{
	margin-bottom: 4px;
}
div.boxSitemapIndex div.center-content ul li
{
	padding-bottom: 4px;
}

/* Footer */
div.boxCopyright div.top,
div.boxCopyright div.bottom
{
	height: 10px;
}
div.boxCopyright div.center-content
{
	color: #A5AFB5;
	font-size: 0.85em;
	text-align: center;
}
div.boxCopyright div.center-content a
{
	color: #fff;
}

#cmPubHelpTextPopup{
z-index:10000 !important;
}

/* Custom CSS */
#columnRight .boxLinksList ul {
    list-style-position: inside;
}

/* Blog */
#blog .center-content #blog-head {
    padding-bottom: 15px;
    border-bottom: 2px solid #0067A1;    
}

#blog .center-content #blog-head h1 {
    margin-bottom: 0px;
}

#blog .center-content #blog-head h2 {
    font-weight: normal;
    font-size: 14px;
}

#blog form #submit {
    margin-top: 5px;
    background: #5E6F7D;
}

#blog .blogMetaData {
    margin-bottom: 10px;
}

.about-this-blog img {
    float: left;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
    border: 1px solid #fff;
    margin-right: 5px;
    margin-bottom: 5px;
}

.about-this-blog p {
    font-size: 11px;
    clear: both;
}

#blog .boxMainFullListIndex .blogSummary img,
#blog .boxMainFullListIndex .blogSummary .blog-image {
    display: none;
}

#blog .blogSummary img {
    float: right;
    margin: 10px 0 10px 10px;    
}

#blog .blogSummary .blog-image {
    float: right;
    margin: 0 0 10px 10px;    
}

#blog .blogSummary .blog-image img {
    float: none;
    margin: 0 0 10px 0;
}

#blog .blogSummary .blog-image span {
    display: block;
    padding: 0 5px;
    font-size: 10px;    
}

/* Twitter */
#tweets .tweet_list li {
    margin-top: 15px;
    font-size: 11px;
}

#tweets .tweet_list .tweet_first {
    margin-top: 0px;
}

#tweets .tweet_list li .tweet_time,
#tweets .tweet_list li .tweet_join {
    display: none;
}

/* Right Column */
#columnRight p, #columnRight a, #columnRight ul, #columnRight ul li {
    font-size: 11px;
}

#columnRight .boxHeader .top h2 {
    margin: 0;
}

#columnRight .boxDefault .center-content ul {
    list-style-type: none;
}

#columnRight .boxDefault .center-content li {
    margin-bottom: 5px;
}

/* Comments */
.commentsArea > hr {
    display: none;
}

.commentsArea .contentListItem {
    border-top: 1px solid #CCC;
}

/* About Section */
.articleListItem .textBox .articleTitle,
.articleListItem .textBoxWide .articleTitle {
    margin-bottom: 5px;
}

/* misc */
table {
    margin-bottom: 15px;
}

div.outerWrapper .boxDefault.documents h1 {
    margin-bottom: 5px;
}

div.outerWrapper .boxDefault.documents h1 a {
    font-size: 16px;
}

/* News and Events Pages */
#news-events #columnCenter .top h2 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 0px;
}
