#lightbox {
	Z-INDEX: 1100; POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 0; WIDTH: 100%; LEFT: 0px
}
#lightbox A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#outerImageContainer {
	POSITION: relative; BACKGROUND-COLOR: #fff; MARGIN: 0px auto; WIDTH: 250px; HEIGHT: 250px
}
#imageContainer {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
#loading {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 0; WIDTH: 100%; HEIGHT: 25%; TOP: 40%; LEFT: 0%
}
#hoverNav {
	Z-INDEX: 1010; POSITION: absolute; WIDTH: 100%; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
#imageContainer > #hoverNav {
	LEFT: 0px
}
#hoverNav A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
#prevLink {
	WIDTH: 49%; DISPLAY: block; BACKGROUND: url(http://media.completegenomics.com/designimages/blank.gif) no-repeat; HEIGHT: 100%
}
#nextLink {
	WIDTH: 49%; DISPLAY: block; BACKGROUND: url(http://media.completegenomics.com/designimages/blank.gif) no-repeat; HEIGHT: 100%
}
#prevLink {
	FLOAT: left; LEFT: 0px
}
#nextLink {
	FLOAT: right; RIGHT: 0px
}
#prevLink:hover {
	BACKGROUND: url(http://media.completegenomics.com/designimages/prevlabel.gif) no-repeat left 15%
}
#prevLink:hover:visited {
	BACKGROUND: url(http://media.completegenomics.com/designimages/prevlabel.gif) no-repeat left 15%
}
#nextLink:hover {
	BACKGROUND: url(http://media.completegenomics.com/designimages/nextlabel.gif) no-repeat right 15%
}
#nextLink:hover:visited {
	BACKGROUND: url(http://media.completegenomics.com/designimages/nextlabel.gif) no-repeat right 15%
}
#imageDataContainer {
	BACKGROUND-COLOR: #fff; MARGIN: 0px auto; FONT: 10px/1.4em Verdana, Helvetica, sans-serif
}
#imageData {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #666; PADDING-TOP: 0px
}
#imageData #imageDetails {
	TEXT-ALIGN: left; WIDTH: 70%; FLOAT: left
}
#imageData #caption {
	FONT-WEIGHT: bold
}
#imageData #numberDisplay {
	PADDING-BOTTOM: 1em; DISPLAY: block; CLEAR: left
}
#imageData #bottomNavClose {
	PADDING-BOTTOM: 0.7em; WIDTH: 66px; FLOAT: right
}
#overlay {
	Z-INDEX: 1090; POSITION: absolute; BACKGROUND-COLOR: #000; WIDTH: 100%; HEIGHT: 500px; TOP: 0px; LEFT: 0px
}
.lbWidth {
	POSITION: absolute; MIN-WIDTH: 790px; WIDTH: 100%; TOP: 0px; LEFT: 0px
}
* HTML .lbContent {
	POSITION: relative; MARGIN-LEFT: -790px
}
* HTML .lbMinWidth {
	PADDING-LEFT: 790px
}
/*.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	DISPLAY: inline-block
}
* HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}*/

